@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  outline-color: #d8d93b;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

@layer base {
  :root[data-theme="light"] {
    --bg-primary: #ffffff;
    --bg-secondary: #F3F3F3;
    --bg-accent: #000000;
    --bg-overlay: rgb(0, 0, 0, 30%);
    --border-primary: #D4D4D4;
    --border-accent: #838383;
    --text-primary: #000000;
    --text-secondary: #838383;
    --text-placeholder: #838383;
    --text-bg-accent-contrast: #ffffff;
    --danger: #F00000;
  }

  @media (prefers-color-scheme: light) {
    :root[data-theme="system"] {
      --bg-primary: #ffffff;
      --bg-secondary: #F3F3F3;
      --bg-accent: #000000;
      --bg-overlay: rgb(0, 0, 0, 30%);
      --border-primary: #D4D4D4;
      --border-accent: #838383;
      --text-primary: #000000;
      --text-secondary: #838383;
      --text-placeholder: #838383;
      --text-bg-accent-contrast: #ffffff;
      --danger: #F00000;
    }
  }

  :root[data-theme="dark"] {
    --bg-primary: #0a0a0a;
    --bg-secondary: #0a0a0a;
    --bg-accent: #ededed;
    --bg-overlay: rgb(0, 0, 0, 60%);
    --border-primary: #656565;
    --border-accent: #ffffff;
    --text-primary: #dcdbdb;
    --text-secondary: #a1a1a1;
    --text-placeholder: #888888;
    --text-bg-accent-contrast: #0a0a0a;
    --danger: #a80000;
  }

  @media (prefers-color-scheme: dark) {
    :root[data-theme="system"] {
      --bg-primary: #000000;
      --bg-secondary: #0a0a0a;
      --bg-accent: #ededed;
      --bg-overlay: rgb(0, 0, 0, 60%);
      --border-primary: #656565;
      --border-accent: #ffffff;
      --text-primary: #dcdbdb;
      --text-secondary: #a1a1a1;
      --text-placeholder: #888888;
      --text-bg-accent-contrast: #0a0a0a;
      --danger: #a80000;
    }
  }
}

@layer components {
  .content-container {
    --padding: 30px;
    padding: 0 var(--padding);
    max-width: calc(800px + var(--padding) * 2);
    margin: 0 auto;
  }

  .title-md {
    font-size: 30px;
    line-height: 42px;
    @apply font-medium;
  }

  .title-lg {
    font-size: 36px;
    line-height: 50px;
    @apply font-medium;
  }
}

@layer utilities {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .centered-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .no-scrollbars {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }

  .no-scrollbars::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}
